:root {
  --primary-color: #000080;
  --secondary-color: #ffff01;
  --bg-color: #fff;
  --nav-color: #fff;
  --body-bg: #fff;
  --default-color:#333;
  --firstSectionBg: #fff;
  --reverse-color: #ecf0f1;
  --secondSectionBg: #f7f7f7;
  --gray: #ddd;
}

.dark-theme {
  --primary-color: #0dcaf0;
  --secondary-color: #1e5fa0;
  --nav-color: #1e1b32 ;
  --body-bg: #fff;
  --default-color: #fff;
  --firstSectionBg: #1e1b32;
  --reverse-color: #333;
  --secondSectionBg: #26243c;
  --gray: #26243c;
  --link-fonts: "Inconsolata", monospace;
}

.nav-ct {
  display: block;
  text-align: center;
}
.nav-ct .navbar {
  z-index: 2;
  background-color: var(--secondary-color);
  display: block;
  font-family: var(--link-fonts) !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav-ct .navbar .nav-link.active {
  color: var(--primary-color);
  font-weight: 500;
  border-bottom: 5px solid var(--primary-color);
}
.nav-ct .navbar .nav-link {
  color: rgba(0, 0, 0, 0.67);
  padding: 1rem;
  font-size: 17px;
}
.nav-ct .navbar .nav-link:hover, .nav-ct .navbar .nav-link:focus {
  color: var(--primary-color);
  font-weight: 500;
  border-bottom: 5px solid var(--primary-color);
  transition: 0.2s ease;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.4901960784);
  border: 0px;
  padding: 0px;
  margin-top: 8px;
}
.dropdown-menu .dropdown-item.active {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 500;
}
.dropdown-menu .dropdown-item {
  background-color: rgb(255, 255, 1);
  color: rgba(0, 0, 0, 0.67);
  font-size: 15px;
  padding: 15px 20px;
}
.dropdown-menu .dropdown-item:hover {
  color: var(--primary-color);
  font-weight: 500;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
  }
}
/*==== responsive css phone =====*/
@media only screen and (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: center;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .header {
    padding: 50px 0;
  }
  .header .nav-ct {
    display: block;
    text-align: center;
  }
  .header .head-title {
    margin-bottom: 50px;
    display: block;
  }
  .nav-item {
    padding: 5px 10px;
  }
}

.footer-section {
  padding-bottom: 20px;
  color: #fff;
  background-color: #1e1e1e;
}
.footer-section .list-group-flush {
  color: var(--secondary-color);
}
.footer-section .list-group {
  background: transparent;
  margin-bottom: 25px;
}
.footer-section .list-group .list-group-item {
  background: transparent;
  border: 0;
  padding-left: 0;
  color: #fff;
}
.footer-section .list-group .list-group-item a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}
.footer-section .list-group .list-group-item a:hover {
  color: var(--secondary-color);
}
.footer-section .list-group .list-group-item i.fas {
  color: var(--secondary-color);
}

/*==== responsive css tablet =====*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-section .fs-img img {
    width: 20%;
  }
}
/*==== responsive css phone =====*/
@media only screen and (max-width: 767px) {
  .footer-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-section .list-group-flush {
    margin-bottom: 20px;
  }
}